<!DOCTYPE html>
<html>
  <head>
    <title>Swiim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="mx-auto">
    <nav class="p-6 border border-b-black bg-blue-50 h-40 flex justify-center">
      <div class="mx-auto flex items-center text-black max-w-prose justify-between">
        <div class="flex items-center">
        <%= image_tag '/assets/logo-circle-dark.png', size: 100 %>
        <span class="font-bold pl-5 text-4xl">SWIIM</span>
        </div>
        <div class="w-12"></div>
        <div class="text-sm flex items-center justify-between flex-grow">
          <%= link_to 'Home', root_path, class: "nav-link" %>
          <%= link_to 'Table of Contents', manual_path, class: "nav-link" %>
          <%= link_to 'Preferences', edit_users_path, class: "nav-link" %>
         </div>
      </div>
    </nav>
    <main class="mx-auto mt-28 px-5 flex flex-row">
      <% if current_controller?('manual') %>
        <div class="hidden lg:block fixed w-52 z-20 inset-0 top-40 right-auto left-[max(0px,calc(50%-45rem)) bg-gray-50 overflow-y-auto">
          <%= render 'layouts/contents' %>
        </div>
      <% end %>
      <div class="flex-grow <%='lg:pl-52' if current_controller?('manual')%>">
        <div class="prose mx-auto">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
